@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: InterVar;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url(/assets/Inter.var.C9xDBOS3.woff2?v=3.19) format("woff2-variations"),url(/assets/Inter.var.C9xDBOS3.woff2?v=3.19) format("woff2");
  src: url(/assets/Inter.var.C9xDBOS3.woff2?v=3.19) format("woff2") tech("variations");
  unicode-range: U+0000-05FF,U+0700-1FFF,U+2C00-2FFF,U+4E00-9FFF,U+AC00-D7AF;
}

@font-face {
  font-family: InterVar;
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url(/assets/Inter-Italic.var.BGHziHgI.woff2?v=3.19) format("woff2-variations"),url(/assets/Inter-Italic.var.BGHziHgI.woff2?v=3.19) format("woff2");
  src: url(/assets/Inter-Italic.var.BGHziHgI.woff2?v=3.19) format("woff2") tech("variations");
  unicode-range: U+0000-05FF,U+0700-1FFF,U+2C00-2FFF,U+4E00-9FFF,U+AC00-D7AF;
}

@font-face {
  font-family: Inter;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url(/assets/Inter.var.C9xDBOS3.woff2?v=3.19) format("woff2-variations"),url(/assets/Inter.var.C9xDBOS3.woff2?v=3.19) format("woff2");
  src: url(/assets/Inter.var.C9xDBOS3.woff2?v=3.19) format("woff2") tech("variations");
  unicode-range: U+0000-05FF,U+0700-1FFF,U+2C00-2FFF,U+4E00-9FFF,U+AC00-D7AF;
}

@font-face {
  font-family: Inter;
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url(/assets/Inter-Italic.var.BGHziHgI.woff2?v=3.19) format("woff2-variations"),url(/assets/Inter-Italic.var.BGHziHgI.woff2?v=3.19) format("woff2");
  src: url(/assets/Inter-Italic.var.BGHziHgI.woff2?v=3.19) format("woff2") tech("variations");
  unicode-range: U+0000-05FF,U+0700-1FFF,U+2C00-2FFF,U+4E00-9FFF,U+AC00-D7AF;
}

/* Fix transparent dropdown menus */
.dropdown-content {
  @apply bg-white shadow-lg border border-gray-200;
}
